.homeBackground{
    z-index: 1;
    position: absolute;
    width: 100%;
    opacity: 80%;
    height: 90%;
}

.homeHeader {
    position: absolute;
    z-index: 2;
    text-align: center;
    margin-top: 10%;
    margin-left: 31%;
    font-size: 45px;
}

.button1 {
    font-size: 20px;
    z-index: 2;
    position: absolute;
    float: left;
    margin-top: 22%;
    margin-left: 32%;
    width: 210px;
    height: 70px;
}

.button2 {
    font-size: 20px;
    z-index: 2;
    position: absolute;
    float: left;
    margin-top: 22%;
    margin-left: 55%;
    width: 210px;
    height: 70px;
}