.homeHeader {
    text-align: center;
    margin-top: 15%;
}

.button1 {
    position: absolute;
    float: left;
    margin-top: 3%;
    margin-left: 42%;
}

.button2 {
    position: absolute;
    float: left;
    margin-top: 3%;
    margin-left: 52%;
}