.homeBackground{
    z-index: 1;
    position: absolute;
    width: 100%;
    opacity: 80%;
    height: 89%;
}

.homeHeader {
    position: absolute;
    z-index: 2;
    text-align: center;
    margin-top: 16%;
    margin-left: 31%;
    font-size: 45px;
}

.button1 {
    z-index: 2;
    position: absolute;
    float: left;
    margin-top: 22%;
    margin-left: 38%;
    width: 150px;
    height: 50px;
}

.button2 {
    z-index: 2;
    position: absolute;
    float: left;
    margin-top: 22%;
    margin-left: 53%;
    width: 150px;
    height: 50px;
}