nav {
    background-color: #24305E;
    overflow: hidden;
    height: 85px;
    text-align: center;
}

.navHeading {
    scale: 50%;
    position: relative;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: 14px;
    margin-left: 20px;
    max-width: 13%;
    height: auto;
}
